---
import EmailIcon from "../../components/icons/EmailIcon.astro";
import GithubIcon from "../../components/icons/GithubIcon.astro";
import LinkedinIcon from "../../components/icons/LinkedinIcon.astro";
import TitleSection from "../../components/opciones/TitleSection.astro";
import Section from "../../components/Section.astro";
---

<Section>
  <!-- Texto y botones -->
  <div class="order-2 md:order-1 md:w-2/3 md:pr-12 text-center md:text-left">
    <TitleSection>Experiencia</TitleSection>
  </div>
</Section>
