---
import Chip from "../../components/opciones/Chip.astro";
import Subtitle from "../../components/opciones/Subtitle.astro";
import TextResalt from "../../components/opciones/TextResalt.astro";
import TitleSection from "../../components/opciones/TitleSection.astro";
import Section from "../../components/Section.astro";
import links from "../../data/experiencia.json";
import ExperienciaCard from "../../components/opciones/ExperienciaCard.astro";
---

<Section id="experiencia">
  <!-- Texto y botones -->
  <div class="order-2 md:order-1 text-center md:text-left">
    <TitleSection>Experiencia</TitleSection>

    {links.slice(0, 4).map((link, idx) => <ExperienciaCard link={link} />)}
    <div class="hidden" id="experiencia-more">
      {links.slice(4).map((link, idx) => <ExperienciaCard link={link} />)}
    </div>
  </div>
</Section>
