---
import TitleSection from "../../components/opciones/TitleSection.astro";
import Section from "../../components/Section.astro";
import habilidades from "../../data/habilidades.json";
import IconoLink from "../../components/opciones/IconoLink.astro";
import Adf from "../../components/icons/Adf.astro";
import Angular from "../../components/icons/Angular.astro";
import Cicd from "../../components/icons/Cicd.astro";
import Devops from "../../components/icons/Devops.astro";
import Docker from "../../components/icons/Docker.astro";
import Fullstack from "../../components/icons/Fullstack.astro";
import Git from "../../components/icons/Git.astro";
import Java from "../../components/icons/Java.astro";
import Javascript from "../../components/icons/Javascript.astro";
import Kubernetes from "../../components/icons/Kubernetes.astro";
import Microservices from "../../components/icons/Microservices.astro";
import Mysql from "../../components/icons/Mysql.astro";
import Oracle from "../../components/icons/Oracle.astro";
import Php from "../../components/icons/Php.astro";
import Redis from "../../components/icons/Redis.astro";
import Scrum from "../../components/icons/Scrum.astro";
import Softarchi from "../../components/icons/Softarchi.astro";
import Sprintboot from "../../components/icons/Sprintboot.astro";
import Sql from "../../components/icons/Sql.astro";
import Sqlserver from "../../components/icons/Sqlserver.astro";
import Svn from "../../components/icons/Svn.astro";
import Typescript from "../../components/icons/Typescript.astro";
import Rest from "../../components/icons/Rest.astro";

const iconComponents = {
    Adf,
    Angular,
    Cicd,
    Devops,
    Docker,
    Fullstack,
    Git,
    Java,
    Javascript,
    Kubernetes,
    Microservices,
    Mysql,
    Oracle,
    Php,
    Redis,
    Scrum,
    Softarchi,
    Sprintboot,
    Sql,
    Sqlserver,
    Svn,
    Typescript,
    Rest
};
---

<Section id="habilidades">
    <!-- Texto y botones -->
    <div class="order-2 md:order-1 md:pr-12 text-center md:text-left">
        <TitleSection>Habilidades</TitleSection>

        <div class="mb-12 group">
            <div
                class="p-3 bg-white rounded-lg shadow group-hover:shadow-2xl transition-all w-full"
            >
                <div class="flex flex-wrap gap-2 mt-3 justify-center">
                    {
                        habilidades.map((habilidad) => {
                            const Icon = iconComponents[habilidad.icon as keyof typeof iconComponents];
                            return (
                              <IconoLink text={habilidad.name} link="" title={habilidad.name}>
                                <div class="h-16 w-16 text-gray-300">
                                {Icon && <Icon/>}
                                </div>
                              </IconoLink>
                            );
                        })
                    }
                </div>
            </div>
        </div>
    </div>
</Section>
