---
import BordeadoIcon from "../../components/opciones/BordeadoIcon.astro";
import Chip from "../../components/opciones/Chip.astro";
import Subtitle from "../../components/opciones/Subtitle.astro";
import TitleSection from "../../components/opciones/TitleSection.astro";
import Section from "../../components/Section.astro";
import CodeIcon from "../../components/icons/CodeIcon.astro";
import DeployIcon from "../../components/icons/DeployIcon.astro";
import RepositorioCard from "../../components/opciones/RepositorioCard.astro";

// Consumir la API de GitHub y guardar los datos principales en una lista
type GithubRepo = {
  id: number;
  name: string;
  html_url: string;
  description: string | null;
  language: string | null;
  stargazers_count: number;
  forks_count: number;
  updated_at: string;
};

const response = await fetch(
  "https://api.github.com/users/programmercito/repos",
);
const data: GithubRepo[] = await response.json();
const repos = data.map((repo: GithubRepo) => ({
  id: repo.id,
  name: repo.name,
  html_url: repo.html_url,
  description: repo.description,
  language: repo.language,
  stargazers_count: repo.stargazers_count,
  forks_count: repo.forks_count,
  updated_at: repo.updated_at,
}));
---

<Section id="repositorios">
  <!-- Texto y botones -->
  <div class="order-2 md:order-1 text-center md:text-left">
    <TitleSection>Repositorios</TitleSection>

    <div class="grid gap-8 md:grid-cols-3 items-stretch">
      {repos.slice(0, 9).map((repo, idx) => <RepositorioCard repo={repo} />)}
    </div>
    <div class="flex justify-end mt-4">
      <BordeadoIcon link="#repositorios-more" id="repositorios-more-btn">
        Ver más repositorios
      </BordeadoIcon>
    </div>
    <div class="hidden" id="repositorios-more">
      <div class="grid gap-8 md:grid-cols-3 items-stretch">
        {repos.slice(9).map((repo, idx) => <RepositorioCard repo={repo} />)}
      </div>
    </div>
    <div class="justify-end mt-4 hidden" id="repositorios-menos">
      <BordeadoIcon link="#repositorios" id="repositorios-menos-btn">
        Ocultar
      </BordeadoIcon>
    </div>
  </div>
</Section>
<script>
  const btn = document.getElementById("repositorios-more-btn");
  const more = document.getElementById("repositorios-more");
  const btnMenos = document.getElementById("repositorios-menos-btn");
  const menos = document.getElementById("repositorios-menos");
  if (btn && more && menos) {
    btn.addEventListener("click", () => {
      more.classList.remove("hidden");
      btn.classList.add("hidden");
      menos.classList.remove("hidden");
      menos.classList.add("flex");
    });
  }
  if (btnMenos && menos && more) {
    btnMenos.addEventListener("click", () => {
      more.classList.add("hidden");
      btn?.classList.remove("hidden");
      menos.classList.add("hidden");
      menos.classList.remove("flex");
    });
  }
</script>
