---
import CenterHeader from "./header/CenterHeader.astro";
import LeftHeader from "./header/LeftHeader.astro";
import RightHeader from "./header/RightHeader.astro";
import Menu from "./header/menu/Menu.astro";
import menu from "../data/menu.json";
---

<header class="flex items-center justify-center py-4 px-6 bg-gray-800 ">
  <div class="flex items-center">
    <!-- Logo -->
    <LeftHeader />
  </div>
  <div class="fixed top-4 left-1/2 transform -translate-x-1/2 hidden md:block z-50">
    <!-- Opciones centradas -->
    <CenterHeader />
  </div>

  <div class="flex items-center ml-auto">
    <!-- Botones a la derecha -->
    <RightHeader />
  </div>

  <Menu />
</header>

<script define:vars={{ menuData: menu }} is:inline>
  let menu = document.getElementById("menu");
  let botonMenu = document.getElementById("boton-menu");
  // Ocultar el menú al hacer clic fuera de él
  document.addEventListener("click", (event) => {
    // creo un array hardoceado con "hola" y "hola2"
    if (menu && botonMenu) {
      const notisClickInsideMenu = !menu.contains(event.target);
      const notisClickInsideButton = !botonMenu.contains(event.target);
      const compo = event.target;
      if (
        (notisClickInsideMenu &&
        notisClickInsideButton &&
        !menu.classList.contains("hidden")) || (compo.id && verificoMenuData(compo.id, menuData))
      ) {
        menu.classList.add("hidden");
      }
    }
  });

  if (botonMenu && menu) {
    botonMenu.addEventListener("click", () => {
      if (menu.classList.contains("hidden")) {
        menu.classList.remove("hidden");
      } else {
        menu.classList.add("hidden");
      }
    });
  }
  function verificoMenuData(id, menuData) {
    for (let i = 0; i < menuData.length; i++) {
      if (menuData[i].url + "_btn" === id) {
        return true;
      }
    }
  }
</script>
