---
interface Props {
    link: string;
}
const { link } = Astro.props;
---

<a
    href={link}
    target="_blank"
    class="inline-flex items-center gap-x-1 px-4 py-2 border border-gray-300 rounded-md justify-center
               shadow transition-all duration-300
               hover:bg-blue-600 hover:text-white hover:scale-105 hover:shadow-2xl"
>
    <slot />
</a>
