---
interface Props {
    text: string;
}
const { text } = Astro.props;
const className = `
  items-center justify-center
  tracking-wide 
  py-2 px-4
  rounded-xl
  bg-gradient-to-r from-blue-600 to-indigo-600
  transition-all duration-700 ease-in-out
  hover:scale-110 hover:shadow-[0_0_12px_var(--tw-shadow-color)] hover:shadow-primary-200
  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-200 bg-bg-300 text-sm
`;
---

<div class={className}>
    <span>{text}</span>
</div>

<style>
    .grande-width {
        width: 140px;
    }
    .mediano-width {
        width: 110px;
    }
    .pequeno-width {
        width: 80px;
    }
</style>
