---
interface Props {
    link: string;
    text: string;
    width: string;
}
const { link, text, width } = Astro.props;
const className = `flex items-center m-1 hover:bg-bg-100 justify-center ${width}-width hover:text-gray-300 py-2 text-white bg-blue-500 rounded-md shadow-[0px_1px_4px_rgba(0,0,0,0.5)] hover:bg-blue-600 transition-colors duration-500 ease-in-out hover:scale-105 hover:shadow-xl`;
---

<a href={link} class={className}>{text}</a>

<style>
    .grande-width {
        width: 110px;
    }
    .mediano-width {
        width: 100px;
    }
    .pequeno-width {
        width: 70px;
    }
</style>