---
interface Props {
    link: string;
    text: string;
    width: string;
}
const { link, text, width } = Astro.props;
const className = `
  relative inline-flex items-center justify-center
  font-medium tracking-wide text-white
  ${width}-width py-2 px-4
  rounded-xl
  bg-gradient-to-r from-blue-600 to-indigo-600
  transition-all duration-700 ease-in-out
  hover:scale-105 hover:shadow-[0_0_12px_var(--tw-shadow-color)] hover:shadow-primary-200
`;
---

<a href={link} class={className}>
    <span class="z-10">{text}</span>
</a>

<style>
    .grande-width {
        width: 140px;
    }
    .mediano-width {
        width: 110px;
    }
    .pequeno-width {
        width: 80px;
    }
</style>
